*.env
*.pyc
*.docx
*.stats
*.lnk
*.tmp
*.lprof
.ipynb_checkpoints/
testing_grounds.ipynb
temp-*.html
*.cache
temp-*.svg
Untitled.ipynb
*.dirlock
*.lock
*.log
/.vscode/*
.spyproject
/*.png
/*.html
/*.svg
*.prof
*.bat
tests/output
*.DS_Store
data/interim/*.parquet
data/processed/*.parquet
.git_old/
